<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.droidmare">

<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
<uses-permission android:name="android.permission.BLUETOOTH"/>
<!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.CAMERA"/>
<uses-permission android:name="android.permission.READ_CALENDAR" />
<uses-permission android:name="android.permission.WRITE_CALENDAR" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

<uses-feature android:name="android.hardware.camera2.full"/>

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppThemeTransparent">

    <activity android:name=".calendar.views.activities.SplashActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".calendar.views.activities.MainActivity"
              android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
        </intent-filter>
    </activity>

    <activity android:name=".calendar.views.activities.DialogDeleteActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
        </intent-filter>
    </activity>

    <activity android:name=".calendar.views.activities.DialogDisplayEventsActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
        </intent-filter>
    </activity>

    <activity android:name=".calendar.views.activities.DialogNewEventActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
        </intent-filter>
    </activity>

    <activity android:name=".calendar.views.activities.DialogEventParameters">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
        </intent-filter>
    </activity>

    <activity android:name=".calendar.views.activities.DialogDatePickerActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
        </intent-filter>
    </activity>

    <activity android:name=".calendar.views.activities.DialogAddDescriptionActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
        </intent-filter>
    </activity>

    <receiver android:name=".calendar.receivers.BootCompletedReceiver" android:enabled = "true">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>

    <service
        android:name=".calendar.services.AlarmResetService"
        android:exported="false">
    </service>

    <service
        android:name=".calendar.services.DataDeleterService"
        android:exported="true">
    </service>

    <service
    android:name=".calendar.services.ApiConnectionService"
    android:exported="false">
    </service>

    <service
        android:name=".calendar.services.ApiSynchronizationService"
        android:exported="false">
    </service>

    <service
        android:name=".calendar.services.UserDataService"
        android:exported="true">
    </service>

    <service android:name=".calendar.services.DateCheckerService"/>

</application>

</manifest>